<h1>Convert <%= @currency_from %> to <%= @currency_to %></h1>
<p>1 <%= @currency_from %> equals <%= @currency_convert_result %> <%= @currency_to %>.</p>
<p>Go <a href="/<%= @currency_from %>">back</a>.</p>
